[Unit]
Description=Wöchentliche Repository-Synchronisierung

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=15min

[Install]
WantedBy=timers.target
