[Unit]
Description=Repository-Synchronisierung und Paket-Update-Prüfung
After=network.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/cron/checkup
Environment=DISPLAY=:0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus

[Install]
WantedBy=default.target
