## 2025-06-24	SARBS
# Diese Datei definiert die Standard-Formatierungseinstellungen für alle Dateien
# Hauptdatei liegt im Home Verzeichniss des Benutzers
# Weitere Informationen: https://editorconfig.org/

root = false
[*]
# Optionen: space, tab
indent_style = tab

# Standard-Einrückungstiefe: 4 Leerzeichen
indent_size = 4

# Maximale Zeilenlänge: 80 Zeichen (Zeilenumbruch für Prosa/Markdown)
max_line_length = 80
