[Desktop Entry]
Version=1.0
Type=Application
Exec=firefox %u
Terminal=false
X-MultipleArgs=false
Icon=firefox
StartupWMClass=firefox
DBusActivatable=false
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=application/xhtml+xml;text/html;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Actions=new-window;new-private-window;open-profile-manager;
Name=󰨡 Firefox
Name[de]=󰨡 Firefox
Comment=Browse the World Wide Web
Comment[de]=Im Internet surfen
GenericName=Web Browser
GenericName[de]=Internet-Browser
Keywords=Internet;WWW;Browser;Web;Explorer;
Keywords[de]=Internet;WWW;Browser;Web;Explorer;
X-GNOME-FullName=Firefox Web Browser
X-GNOME-FullName[de]=Firefox-Web-Browser

[Desktop Action new-window]
Exec=firefox --new-window %u
Name=󰨡 New Window
Name[de]=󰨡 Neues Fenster

[Desktop Action new-private-window]
Exec=firefox --private-window %u
Name=󰨡 New Private Window
Name[de]=󰨡 Neues privates Fenster

[Desktop Action open-profile-manager]
Exec=firefox --ProfileManager
Name=󰨡 Open Profile Manager
Name[de]=󰨡 Profilverwaltung öffnen
