[Desktop Entry]
Version=1.0
Type=Application
Name=󰨡 Qutebrowser
GenericName=Webbrowser
GenericName[de]=Internet-Browser
Comment=Ein tastaturgesteuerter, vim-ähnlicher Browser basierend auf Python und Qt
Exec=qutebrowser %u
Terminal=false
Icon=qutebrowser
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
